div(ng-controller="HistoryCtrl")

    h2 History Graph
        button.btn.btn-primary(ng-click='getData()') Reload data
        button.btn.btn-info(ng-click='getDummyData()') Load dummy data
        button.btn.btn-info(ng-click='showJson=!showJson') {{showJson?'Hide':'Show'}} JSON

    //-p TODO make toggle button for hour, day, month

    h3 Data for one hour

    nvd3-line-chart(
        data="hdata",
        height="400",
        xAxisTickFormat="xAxisTickFormatFunction()",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="45")
        svg

    h3 Data for a day

    nvd3-line-chart(
        data="ddata",
        height="400",
        xAxisTickFormat="xAxisTickFormatFunction()",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="45")
        svg

    h3 Data for a month

    //- nvd3-multi-bar-chart(
    nvd3-line-chart(c
        data="mdata",
        id="exampleId",
        xAxisTickFormat="xAxisTickFormatFunction()",
        height="400",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="45")
        svg

    p(ng-if='showJson')
        | Data (raw data):
        code {{data}}