div(ng-controller="HistoryCtrl")

    h2 History Graph
        button.btn.btn-primary(ng-click='getData()') Reload data

    //-p TODO make toggle button for hour, day, month

    h3 Data for one hour

    //- easy way of setting a selectable range
    .btn.btn-default(ng-repeat="n in [] | range:24", ng-click="updateHour($index)", ng-class='{active: $index==selectedHour}') {{$index+1}}

    nvd3-line-chart(
        data="hdata",
        height="400",
        xAxisTickFormat="xAxisTimeFormat()",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="45")
        svg

    h3 Data for a day

    //- FIXME nr of days in month
    .btn.btn-default(ng-repeat="n in [] | range:31", ng-click="updateDay($index)", ng-class='{active: $index==selectedDay}') {{$index+1}}

    nvd3-line-chart(
        data="ddata",
        height="400",
        xAxisTickFormat="xAxisTimeFormat()",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="45")
        svg

    h3 Data for a month

    .btn.btn-default(ng-repeat="n in [] | range:12", ng-click="updateMonth($index)", ng-class='{active: $index==selectedMonth}') {{$index+1}}

    nvd3-multi-bar-chart(
        data="mdata",
        id="exampleId",
        xAxisTickFormat="xAxisDateFormat()",
        height="400",
        showXAxis="true",
        showYAxis="true",
        xAxisRotateLabels="0")
        svg